[alias]
    bl = branch -a -l -v
    co = checkout
    cp = cherry-pick
    st = status -s
[core]
    autocrlf = true
[init]
    defaultBranch = main
[user]
	email = plumium@outlook.com
	name = plumium
